*{
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    color: dimgray;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    border: 1pt solid red;
    font-size: 1em;
}
body{
    background-color: black;
}
/* sizes of layout */
[class*="col"]{
    float: left;
    margin: 5px auto;
    padding: 5px;
}
.col0{
    width: 0%;
}
.col1{
    width: 9.99%;
}
.col2{
    width: 19.99%;
}
.col3{
    width: 29.99%;
}
.col4{
    width: 39.99%;
}
.col5{
    width: 49.99%;
}
.col6{
    width: 59.99%;
}
.col7{
    width: 69.99%;
}
.col8{
    width: 79.99%;
}
.col9{
    width: 89.99%;
}
.col10{
    width: 99.99%;
}