*{
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    color: #c0c0c0;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    /* border: 1pt solid red; */
    max-width: 1440px;
}
body{
    background-color: black;
}
p{
    text-align: left;
    font-size: 1.1em;
    text-indent: 3em;
}
.title{
    color: white;
    text-shadow: 0 0 20px black,
                0 0 10px red;
    font-size: 3em;
    text-align: center;
}
.center{
    text-align: center;
}
.img1{
    width: 330px;
}
.img2{
    height: 175px;
}
.img3{
    width: 530px;
}
/* SMALL LAPTOP */
@media screen and (max-width:1024px){
    p{
        font-size: 1em;
        text-indent: 3em;
    }
    .title{
        font-size: 3em;
    }
    .img1{
        width: 230px;
    }
    .img2{
        height: 120px;
    }
    .img3{
        width: 400px;
    }
}
/* TABLET */
@media screen and (max-width:768px){
    p{
        font-size: 1em;
        text-indent: 2em;
    }
    .title{
        font-size: 2.7em;
    }
    .img1{
        width: 220px;
    }
    .img2{
        height: 100px;
    }
    .img3{
        width: 350px;
    }
}
/* PHONE */
@media screen and (max-width:425px){
    p{
        font-size: 0.8em;
        text-indent: 2em;
    }
    .title{
        font-size: 2.2em;
    }
    .img1{
        width: 220px;
    }
    .img2{
        height: 100px;
    }
    .img3{
        width: 250px;
    }
}